  #adocao-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-self: center;
  }

.adocao-card {
    display: flex;
    width: 400px;
    height: 230px;
    background-color: #fffdf6;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    overflow: hidden;
  }
  
  .adocao-image {
    width: 40%;
    object-fit: cover;
    height: 100%;
  }
  
  .adocao-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }
      .adocao-info h2 {
        font-size: 20px;
        margin: 0;
        font-weight: bold;
      }
      .adocao-info p {
        font-size: 0.9rem;
        color: #333;
        margin: 0;
      }
  
  .adocao-button {
    padding: 8px 15px;
    margin-top: 10px;
    border: 1.5px solid #71AB3E;
    border-radius: 20px;
    background-color: transparent;
    color: #71AB3E;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: flex-start;
  }
      .adocao-button:hover {
        background-color: #71AB3E;
        color: white;
      }
  