@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@200;300;400;500;600;700;800&family=Rammetto+One&display=swap');

* {
    font-family: "Mukta Vaani", sans-serif;
    background-color: #FAF8EB;
}

.BotoesHome {
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    gap: 20px;
}
.BotoesHome button{
    background-color: #D4D955 !important;
    border: 0;
    border-radius: 8px;
    width: 250px;
    height: 50px;
    font-size: 17px;
    margin: 10px 0; 
    cursor: pointer;
    transition: background-color 0.3s;
}
        .BotoesHome button:hover {
            background-color: #B2B53A !important; 
        }

.BannerConteiner {
    background-color: #F26B5E;
    width: 90vw; 
    height: 250px;
    margin: 0 auto;
    display: flex; 
    justify-content: center;
    overflow: hidden; 
    position: relative;
}

.BannerConteudo {
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;  
    position: absolute;
}

.BannerConteudo h2 {
    color: white;
    font-size: 30px;
}

.Titulo {
    font-family: "Rammetto One", sans-serif;
    margin-left: 100px;
}

.categoriashome {
    display: flex;
    justify-content: center;
    gap: 180px;
    margin-top: 30px;
}
/* 
.bolinha {
    width: 100px; 
    height: 100px; 
    border-radius: 100%; 
    cursor: pointer; 
    transition:ease-in-out all 0.3s;
}
        .bolinha:hover {
            width: 100px; 
            height: 200px; 
            border-radius: 100%; 
        }
 */

.categoriashome {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.bolinha {
    width: 100px; 
    height: 100px;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    transition: ease-in-out all 0.3s;
}

.bolinha.active {
    height: 200px; 
}

.categ-dropdown {
    background-color: currentColor; 
    width: 100%;
    position: absolute;
    bottom: -60px;  
    left: 0;
    display: none; 
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    color: white;  
    font-size: 16px;
}

.bolinha.active .categ-dropdown {
    display: block;
}



/* fonte da logo/detalhes */
.rammetto-one-regular {
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  /* fonte geral */
  .mukta-vaani-regular {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 400;
    font-style: normal;
  }